/**
 * Base
 */

::selection {
	background: $medium_gray;
	color: $background;
}

#wpadminbar * {
	min-width: 0;
}
html {
	height: 100%;
}
body {
	// overflow-x: hidden;
	padding: 0;
	word-wrap: break-word;

	* {
		outline: none;
	}
	&.is-menu-active,
	&.is-modal-active {
		overflow: hidden;
	}
}
.site-container {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	overflow-x: hidden;
	padding-top: map-get($header_height, 'default');

	@include mediaBetween( $mobileBreakpoint,lg ){
		padding-top: map-get($header_height, 'lg');
	}
	@include mediaMaxWidth( $mobileBreakpoint ){
		padding-top: map-get($header_height, $mobileBreakpoint);
	}
	@include mediaMaxWidth( 380 ){
		padding-top: map-get($header_height, 'xxs');
	}

	.screen-reader-shortcut {
		position: absolute;
		top: -1000em;

		&:focus,
		&:focus-visible {
			background: #f0f0f1;
			box-shadow: 0 0 2px 2px #00000099;
			color: $foreground;
			display: block;
			font-size: 14px;
			font-weight: 600;
			height: auto;
			left: 6px;
			line-height: normal;
			outline-offset: -1px;
			padding: 15px 23px 14px;
			text-decoration: none;
			top: 7px;
			width: auto;
			z-index: 100000;
		}
	}

	body.admin-bar & {
		min-height: calc(100vh - 32px);

		@include mediaMaxWidth( 782 ){
			min-height: calc(100vh - 46px);
		}
		@include mediaMaxWidth( 600 ){
			min-height: 100vh;
		}
	}
}