/**
 * Block / Image & text
 */

@import '../../../assets/scss/abstracts/functions';
@import '../../../assets/scss/abstracts/variables';
@import '../../../assets/scss/abstracts/mixins';

.media-text-overview {
    display: grid;
    align-items: center;
    grid-template-columns: 41% 59%;
    gap: 10px;
    padding: 80px 0;
    overflow: inherit;

    h2 {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 95.797%;
        margin-bottom: 30px;
    }

    figure.block-media-wrap {
        position: relative;
        display: block;
        height: 100%;

        .img-item {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 0%);
            transition: .4s;

            &:nth-child(1) {
                top: -24px;
                left: 37%;
                transform: rotate(10deg);
            }
            &:nth-child(2) {
                left: 25%;
                top: 25px;
                transform: rotate(-4deg);
            }
            &:nth-child(3) {
                top: 98px;
                transform: rotate(4deg);
                left: 30%;
            }
            &:nth-child(4) {
                left: 43%;
                top: 115px;
                transform: rotate(-8deg);
            }

            span {
                position: absolute;
                background-color: #B6DAD2;
                color: #000;
                font-size: 18px;
                font-weight: 400;
                line-height: normal;
                left: -90px;
                top: 50px;
                padding: 4px 20px;
                opacity: 0;
                visibility: hidden;
                transition: .4s;
                transform: rotate(-3deg);

                &:hover {
                    background-color: #FF5E35;
                }
            }

            &:hover span {
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover .img-item:nth-child(1) {
            top: -60px;
            left: 12%;
            transform: rotate(5deg);
        }
        &:hover .img-item:nth-child(2) {
            left: 28%;
            top: 172px;
            z-index: 9;
            transform: rotate(-3deg);

            &:hover {
                span {
                    transform: rotate(3deg);
                }
            }
        }
        &:hover .img-item:nth-child(3) {
            top: -50px;
            left: 53%;
            transform: rotate(-5deg);

            &:hover {
                span {
                    transform: rotate(5deg);
                }
            }
        }
        &:hover .img-item:nth-child(4) {
            left: 68%;
            top: 122px;
            transform: rotate(9deg);

            &:hover {
                span {
                    transform: rotate(-9deg);
                }
            }
        }
    }
}

.media-text-overview .block-image-text__text {
    padding: 0;
}
.media-text-overview p {
    color: #000;
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media screen and (max-width: 1460px) {
    .media-text-overview {
        margin-bottom: 0 !important;
    }
}
@media (min-width: 992px) and (max-width: 1324px) {
    .media-text-overview figure.block-media-wrap .img-item {
        width: 220px;
    }
    .media-text-overview figure.block-media-wrap {
        top: 14%;
    }
    .media-text-overview figure.block-media-wrap:hover .img-item:nth-child(1) {
        left: 19%;
    }
    .media-text-overview figure.block-media-wrap:hover .img-item:nth-child(4) {
        left: 62%;
    }
}
@media screen and (max-width: 991px) {
    .media-text-overview {
        grid-template-columns: 100%;
        gap: 50px;
        padding: 30px 0 0px;

        figure.block-media-wrap {
            height: 520px;
            width: 100%;
            transform: translate(-50%, -42%);
            left: 50%;
            top: 50%;

            .img-item {
                width: 220px;
                line-height: 0;
            }

            &:hover {
                height: 100%;
                transform: inherit;
                top: 0;
                left: 0;
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                gap: 10px 40px;
                display: grid;
                grid-template-columns: auto auto;
                margin-bottom: 50px;

                .img-item {
                    transform: inherit !important;
                    position: relative !important;
                    left: 0 !important;
                    top: 0 !important;

                    span {
                        left: 0;
                        transform: inherit;
                        z-index: 99;
                        top: 38%;
                        transform: inherit !important;
                        min-width: 152%;
                        text-align: center;
                    }

                    &:nth-child(2), &:nth-child(4) {
                        span {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .media-text-overview figure.block-media-wrap .img-item:hover span {
        background-color: #FF5E35 !important;
    }
}

@media screen and (max-width: 600px) {
    .media-text-overview {
        figure.block-media-wrap {
            height: 520px;
            width: 100%;
            transform: translate(-50%, -40%);
            left: 46%;
            top: 46%;
        }
    }
}

@media screen and (max-width: 480px) {
    .media-text-overview {
        figure.block-media-wrap {
            height: 380px;
            transform: translate(-50%, -40%);
            left: 50%;
            top: 44%;

            &:hover {
                gap: 0px 15px;
                .img-item {
                    width: 100%;
                    margin-bottom: -10px;
                }
            }

            .img-item {
                width: 162px;

                span {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 411px) and (max-width: 480px) {
    .media-text-overview {
        figure.block-media-wrap {
            .img-item:nth-child(2) {
                left: 20% !important;
            }

            .img-item:nth-child(3) {
                left: 25% !important;
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .media-text-overview {
        figure.block-media-wrap {
            left: 47%;

            .img-item:nth-child(2) {
                left: 14%;
            }

            .img-item:nth-child(3) {
                left: 20%;
            }
        }
    }
}

@media screen and (max-width: 372px) {
    .media-text-overview figure.block-media-wrap {
        left: 47%;
    }
}