/**
 * Content / Search card
 */

.search-card {
	$c: &;

    border-top: 3px solid $plum;
    padding: rem(35) 0 rem(20);

    &__heading {
        margin: 0 0 rem(15);
    }
    &__text {

    }
    &__link-wrap {
        margin: rem(30) 0 0;
    }
}